*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
body{
    display: grid;
    justify-content: end;
    align-content: end;
    min-height: 100vh;
}
a{
    text-decoration: none;
    display: inline-block;
}
a:hover{
    color: #4da1fa;
}
footer{
    background: #222;
    padding: 50px 100px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 20px;
}
footer h2{
    color: #ccc;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 15px 0;
}
.redes{
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 10px;
}
.redes a{
    width: 50px;
    height: 50px;
    background: #555;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}
.redes a:hover{
    background: #333;
}
li{
    list-style: none;
    margin: 10px 0;
}
.contacto div{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin: 15px 0;
}
.copy{
    background: #111;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}